.chat {
  box-sizing: border-box;
  font-size: 16px;
  height: 100%;
  margin: 0;
  max-width: 500px;
  min-width: 300px;
  padding: 0;
}

.chat .messageBox {
  background-color: lightgray;
  font-weight: normal;
  height: 100%;
  width: 100%;
}

.chat form {
  bottom: 0;
  height: 30px;
  position: fixed;
}

.chat form input {
  border: 0;
  padding: 10px;
  margin-right: .5%;
  max-width: 500px;
  min-width: 300px;
}

.chat #messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.chat #messages li {
  padding: 5px 10px;
}

.chat #messages li:nth-child(odd) {
  background: #eee;
}
