.answer {
  align-items: center;
  background-color: whitesmoke;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  margin: 10px;
  min-height: 200px;
  min-width: 300px;
  max-height: 400px;
  max-width: 600;
  margin-bottom: 30px;
}
